## SSH Eddies

In [1]:
import datetime
import jdcal
import numpy as np
import pandas as pd
import xarray as xr

In [2]:
ds = xr.open_dataset('/home/cz2397/data/ssh-eddies/tracks.20130125.nc', decode_cf=False)

In [3]:
ds

<xarray.Dataset>
Dimensions:  (Nobs: 2590938)
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Data variables:
    track    (Nobs) int32 1 1 1 1 2 2 2 2 3 3 3 3 4 4 4 4 5 5 5 5 6 6 6 6 7 ...
    n        (Nobs) int32 1 2 3 4 1 2 3 4 1 2 3 4 1 2 3 4 1 2 3 4 1 2 3 4 1 ...
    j1       (Nobs) int32 2448910 2448917 2448924 2448931 2448910 2448917 ...
    cyc      (Nobs) int32 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
    lon      (Nobs) float32 636.74 635.99 635.82 635.845 560.642 561.447 ...
    lat      (Nobs) float32 -65.0011 -65.1376 -65.2457 -65.2933 -62.5424 ...
    A        (Nobs) float32 1.24564 2.64604 3.40119 1.45836 2.16156 4.87579 ...
    L        (Nobs) float32 44.464 36.7024 45.4221 43.022 63.0697 51.1345 ...
    U        (Nobs) float32 5.97993 8.17373 8.28628 5.20364 4.81408 6.59872 ...
Attributes:
    title: Mesoscale Eddies in Altimeter Observations of SSH
    institution: Oregon State University/CEOAS
    file_name: tracks.20130125.nc
    file_creation_time: 2013May06 15:53:30
    data_process_date: 20130125
    data_start_date: Oct 14, 1992
    data_end_date: Apr  4, 2012
    authors: Dudley Chelton and Michael Schlax
    inquiries_to: Eric Beals (beals@coas.oregonstate.edu)

In [4]:
df = ds.to_dataframe()

In [5]:
df.head()

,track,n,j1,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,2448910,-1,636.739990,-65.001099,1.24564,44.464001,5.97993
1,1,2,2448917,-1,635.989990,-65.137604,2.64604,36.702400,8.17373
2,1,3,2448924,-1,635.820007,-65.245697,3.40119,45.422100,8.28628
3,1,4,2448931,-1,635.844971,-65.293297,1.45836,43.021999,5.20364
4,2,1,2448910,-1,560.642029,-62.542400,2.16156,63.069698,4.81408

In [6]:
def jday_to_datetime(jday, refday=0):
    y, m, d, f = jdcal.jd2gcal(jday, refday)
    h = int(f*24)
    return pd.to_datetime(datetime.datetime(y, m, d, h))

In [7]:
pd_date = df.j1.apply(jday_to_datetime)

In [8]:
df.j1 = pd_date
df = df.rename(columns = {'j1': 'date'})

In [9]:
df.head()

,track,n,date,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,1992-10-14 12:00:00,-1,636.739990,-65.001099,1.24564,44.464001,5.97993
1,1,2,1992-10-21 12:00:00,-1,635.989990,-65.137604,2.64604,36.702400,8.17373
2,1,3,1992-10-28 12:00:00,-1,635.820007,-65.245697,3.40119,45.422100,8.28628
3,1,4,1992-11-04 12:00:00,-1,635.844971,-65.293297,1.45836,43.021999,5.20364
4,2,1,1992-10-14 12:00:00,-1,560.642029,-62.542400,2.16156,63.069698,4.81408

In [10]:
lon_fix_01 = df.where(df.lon <= 540).lon - 360
lon_fix_02 = df.where(df.lon > 540).lon - 720
lon_fix_A = lon_fix_01
lon_fix_A = lon_fix_A.fillna(lon_fix_02)
df.lon = lon_fix_A

In [11]:
df.head()

,track,n,date,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,1992-10-14 12:00:00,-1,-83.260010,-65.001099,1.24564,44.464001,5.97993
1,1,2,1992-10-21 12:00:00,-1,-84.010010,-65.137604,2.64604,36.702400,8.17373
2,1,3,1992-10-28 12:00:00,-1,-84.179993,-65.245697,3.40119,45.422100,8.28628
3,1,4,1992-11-04 12:00:00,-1,-84.155029,-65.293297,1.45836,43.021999,5.20364
4,2,1,1992-10-14 12:00:00,-1,-159.357971,-62.542400,2.16156,63.069698,4.81408

In [12]:
lon_fix_03 = df.where(df.lon < 0).lon + 360
lon_fix_04 = df.where(df.lon >= 0).lon
lon_fix_B = lon_fix_03
lon_fix_B = lon_fix_B.fillna(lon_fix_04)
df.lon = lon_fix_B

In [13]:
df.head()

,track,n,date,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,1992-10-14 12:00:00,-1,276.739990,-65.001099,1.24564,44.464001,5.97993
1,1,2,1992-10-21 12:00:00,-1,275.989990,-65.137604,2.64604,36.702400,8.17373
2,1,3,1992-10-28 12:00:00,-1,275.820007,-65.245697,3.40119,45.422100,8.28628
3,1,4,1992-11-04 12:00:00,-1,275.844971,-65.293297,1.45836,43.021999,5.20364
4,2,1,1992-10-14 12:00:00,-1,200.642029,-62.542400,2.16156,63.069698,4.81408

In [14]:
track = np.asarray(df.track)
n = np.asarray(df.n)
date = df.date
lon = np.asarray(df.lon)
lat = np.asarray(df.lat)

## PyMongo

In [15]:
from pymongo import MongoClient
from tqdm import tqdm

In [16]:
client = MongoClient()

In [17]:
client.database_names()

[u'eddies', u'local']

In [18]:
db = client.eddies

In [19]:
db.collection_names()

[u'rcs_eddies', u'cchdo', u'ssh_eddies']

In [20]:
collection = db.cchdo

In [21]:
result = db.cchdo.remove()

-c:1: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.

In [22]:
M = max(df.track)
print(M)

215184

In [23]:
N = len(df.n)
print(N)

2590938

In [24]:
for i in tqdm(range(N)):
    eddy = {
        'eid': str(track[i]) + "-" + str(n[i]),
        'dat': date[i],
        'lat': str(lat[i]),
        'lon': str(lon[i])
    }
    result = db.cchdo.insert_one(dict(eddy))

100%|██████████| 2590938/2590938 [11:47<00:00, 3660.72it/s]

## CCHDO

In [25]:
ds = xr.open_dataset('/home/cz2397/data/cchdo-hyd/698_33RO20150410_nc_hyd/33RO20150410_00001_00001_hy1.nc')

In [29]:
ds

<xarray.Dataset>
Dimensions:                 (latitude: 1, longitude: 1, pressure: 24, time: 1)
Coordinates:
  * pressure                (pressure) float64 3.1 20.1 41.7 66.4 91.6 117.0 ...
  * time                    (time) datetime64[ns] 2015-04-11T05:50:00
  * latitude                (latitude) float32 -16.5011
  * longitude               (longitude) float32 -150.001
Data variables:
    temperature             (pressure) float64 29.13 29.14 29.08 27.5 25.72 ...
    salinity                (pressure) float64 35.66 35.66 35.72 35.85 36.17 ...
    salinity_QC             (pressure) int16 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 ...
    bottle_salinity         (pressure) float64 35.65 35.66 35.72 35.85 36.17 ...
    bottle_salinity_QC      (pressure) int16 2 2 2 2 2 2 2 2 2 2 2 6 2 2 9 2 ...
    oxygen                  (pressure) float64 194.1 195.7 195.6 204.5 196.9 ...
    oxygen_QC               (pressure) int16 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 ...
    bottle_oxygen           (pressure) float64 194.0 194.0 197.0 203.3 199.6 ...
    bottle_oxygen_QC        (pressure) int16 2 2 2 2 2 2 2 2 9 2 2 2 2 2 2 2 ...
    silicate                (pressure) float64 0.5 0.5 0.5 0.4 0.4 0.5 0.5 ...
    silicate_QC             (pressure) int16 2 2 2 2 2 2 2 2 2 2 2 2 2 2 9 2 ...
    nitrate                 (pressure) float64 0.0 0.0 0.0 0.0 0.0 0.3 2.5 ...
    nitrate_QC              (pressure) int16 2 2 2 2 2 2 2 2 2 2 2 2 2 2 9 2 ...
    nitrite                 (pressure) float64 0.0 0.0 0.0 0.01 0.01 0.21 ...
    nitrite_QC              (pressure) int16 2 2 2 2 2 2 2 2 2 2 2 2 2 2 9 2 ...
    phosphate               (pressure) float64 0.08 0.06 0.11 0.13 0.14 0.19 ...
    phosphate_QC            (pressure) int16 4 4 4 4 4 4 4 4 4 4 4 4 4 4 9 4 ...
    freon_11                (pressure) float64 1.331 1.332 1.351 1.506 1.572 ...
    freon_11_QC             (pressure) int16 2 2 2 2 2 2 2 2 9 2 2 2 2 2 2 2 ...
    freon_12                (pressure) float64 0.916 0.911 0.912 0.991 1.045 ...
    freon_12_QC             (pressure) int16 2 2 2 2 2 2 2 2 9 2 2 2 2 2 2 2 ...
    sulfur_hexifluoride     (pressure) float64 1.165 1.247 1.215 1.267 1.3 ...
    sulfur_hexifluoride_QC  (pressure) int16 2 2 2 2 2 2 2 2 9 2 2 2 2 2 2 2 ...
    total_carbon            (pressure) float64 1.983e+03 1.981e+03 1.987e+03 ...
    total_carbon_QC         (pressure) int16 2 2 2 2 2 2 2 3 9 3 3 2 3 2 2 2 ...
    alkalinity              (pressure) float64 2.347e+03 2.346e+03 2.35e+03 ...
    ph1                     (pressure) float64 8.12 8.12 8.119 8.102 8.073 ...
    ph1_QC                  (pressure) int16 2 2 6 2 2 2 2 2 9 3 6 2 2 6 2 2 ...
    ph_temperature          (pressure) float64 25.0 25.0 25.01 25.0 25.01 ...
    nitrous_oxide           (pressure) float64 0.58 0.57 0.58 0.62 0.65 0.68 ...
    nitrous_oxide_QC        (pressure) int16 2 2 2 2 2 2 2 2 9 2 2 2 2 2 2 2 ...
    sbe35                   (pressure) float64 29.13 29.14 29.08 27.54 25.71 ...
    sbe35_QC                (pressure) int16 2 2 2 3 2 2 3 2 2 2 2 2 2 2 2 2 ...
    reference_salinity      (pressure) float64 35.82 35.83 35.89 36.02 36.34 ...
    reference_salinity_QC   (pressure) int16 2 2 2 2 2 2 2 2 2 2 2 6 2 2 9 2 ...
    woce_date               (time) int32 20150411
    woce_time               (time) int16 550
    station                 |S40 '1                                       '
    cast                    |S40 '1                                       '
Attributes:
    EXPOCODE: 33RO20150410
    Conventions: COARDS/WOCE
    WOCE_VERSION: 3.0
    WOCE_ID: P16N.1
    DATA_TYPE: WOCE Bottle
    STATION_NUMBER: 1
    CAST_NUMBER: 1
    BOTTOM_DEPTH_METERS: 4283
    Creation_Time: 2016-02-20T20:57:11.203046Z
    ORIGINAL_HEADER: BOTTLE,20160217PRINUNIVRMK
# 2/15/16 Initialized README file
# Data source: CCHDO
# SHIP: R/V Ron BrownCruise:
# Region: NE Pacific, Leg 1 of P16N (A.K.A. P16C)
# EXPOCODE: 33RO20150410
# DATES: 20150410 - 20150513
# Chief Scientist: Jessica Cross, Samantha Siedlecki
# 112 stations with 24 place Rosette
# Hydro: Who - G.Johnson, M.Baringer; Status - final
# 	Notes:
# Nutrients: Who - C.Mordy; Status - final
# 	Notes: Final data from E.Wisgarver via CCHDO Jan 7, 2016
# O2: Who ...
    BOTTLE_NUMBERS: 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1
    BOTTLE_QUALITY_CODES: [2 2 2 2 2 2 2 2 3 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2]
    WOCE_BOTTLE_FLAG_DESCRIPTION: ::1 = Bottle information unavailable.:2 = No problems noted.:3 = Leaking.:4 = Did not trip correctly.:5 = Not reported.:6 = Significant discrepancy in measured values between Gerard and Niskin bottles.:7 = Unknown problem.:8 = Pair did not trip correctly. Note that the Niskin bottle can trip at an unplanned depth while the Gerard trips correctly and vice versa.:9 = Samples not drawn from this bottle.:

    WOCE_WATER_SAMPLE_FLAG_DESCRIPTION: ::1 = Sample for this measurement was drawn from water bottle but analysis not received.:2 = Acceptable measurement.:3 = Questionable measurement.:4 = Bad measurement.:5 = Not reported.:6 = Mean of replicate measurements.:7 = Manual chromatographic peak measurement.:8 = Irregular digital chromatographic peak integration.:9 = Sample not drawn for this measurement from this bottle.:

In [31]:
DAT = ds.time.values[0]

In [32]:
LAT = ds.latitude.values[0]

In [33]:
LON = ds.longitude.values[0]