## SSH Eddies

In [1]:
import datetime
import jdcal
import numpy as np
import pandas as pd
import xarray as xr

In [2]:
ds = xr.open_dataset('/home/cz2397/data/ssh-eddies/tracks.20130125.nc', decode_cf=False)

In [3]:
ds

<xarray.Dataset>
Dimensions:  (Nobs: 2590938)
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Data variables:
    track    (Nobs) int32 1 1 1 1 2 2 2 2 3 3 3 3 4 4 4 4 5 5 5 5 6 6 6 6 7 ...
    n        (Nobs) int32 1 2 3 4 1 2 3 4 1 2 3 4 1 2 3 4 1 2 3 4 1 2 3 4 1 ...
    j1       (Nobs) int32 2448910 2448917 2448924 2448931 2448910 2448917 ...
    cyc      (Nobs) int32 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
    lon      (Nobs) float32 636.74 635.99 635.82 635.845 560.642 561.447 ...
    lat      (Nobs) float32 -65.0011 -65.1376 -65.2457 -65.2933 -62.5424 ...
    A        (Nobs) float32 1.24564 2.64604 3.40119 1.45836 2.16156 4.87579 ...
    L        (Nobs) float32 44.464 36.7024 45.4221 43.022 63.0697 51.1345 ...
    U        (Nobs) float32 5.97993 8.17373 8.28628 5.20364 4.81408 6.59872 ...
Attributes:
    title: Mesoscale Eddies in Altimeter Observations of SSH
    institution: Oregon State University/CEOAS
    file_name: tracks.20130125.nc
    file_creation_time: 2013May06 15:53:30
    data_process_date: 20130125
    data_start_date: Oct 14, 1992
    data_end_date: Apr  4, 2012
    authors: Dudley Chelton and Michael Schlax
    inquiries_to: Eric Beals (beals@coas.oregonstate.edu)

In [4]:
df = ds.to_dataframe()

In [5]:
df.head()

,track,n,j1,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,2448910,-1,636.739990,-65.001099,1.24564,44.464001,5.97993
1,1,2,2448917,-1,635.989990,-65.137604,2.64604,36.702400,8.17373
2,1,3,2448924,-1,635.820007,-65.245697,3.40119,45.422100,8.28628
3,1,4,2448931,-1,635.844971,-65.293297,1.45836,43.021999,5.20364
4,2,1,2448910,-1,560.642029,-62.542400,2.16156,63.069698,4.81408

In [6]:
def jday_to_datetime(jday, refday=0):
    y, m, d, f = jdcal.jd2gcal(jday, refday)
    h = int(f*24)
    return pd.to_datetime(datetime.datetime(y, m, d, h))

In [7]:
pd_date = df.j1.apply(jday_to_datetime)

In [8]:
df.j1 = pd_date
df = df.rename(columns = {'j1': 'date'})

In [9]:
df.head()

,track,n,date,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,1992-10-14 12:00:00,-1,636.739990,-65.001099,1.24564,44.464001,5.97993
1,1,2,1992-10-21 12:00:00,-1,635.989990,-65.137604,2.64604,36.702400,8.17373
2,1,3,1992-10-28 12:00:00,-1,635.820007,-65.245697,3.40119,45.422100,8.28628
3,1,4,1992-11-04 12:00:00,-1,635.844971,-65.293297,1.45836,43.021999,5.20364
4,2,1,1992-10-14 12:00:00,-1,560.642029,-62.542400,2.16156,63.069698,4.81408

In [10]:
lon_fix_01 = df.where(df.lon <= 540).lon - 360
lon_fix_02 = df.where(df.lon > 540).lon - 720
lon_fix_A = lon_fix_01
lon_fix_A = lon_fix_A.fillna(lon_fix_02)
df.lon = lon_fix_A

In [11]:
df.head()

,track,n,date,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,1992-10-14 12:00:00,-1,-83.260010,-65.001099,1.24564,44.464001,5.97993
1,1,2,1992-10-21 12:00:00,-1,-84.010010,-65.137604,2.64604,36.702400,8.17373
2,1,3,1992-10-28 12:00:00,-1,-84.179993,-65.245697,3.40119,45.422100,8.28628
3,1,4,1992-11-04 12:00:00,-1,-84.155029,-65.293297,1.45836,43.021999,5.20364
4,2,1,1992-10-14 12:00:00,-1,-159.357971,-62.542400,2.16156,63.069698,4.81408

In [12]:
lon_fix_03 = df.where(df.lon < 0).lon + 360
lon_fix_04 = df.where(df.lon >= 0).lon
lon_fix_B = lon_fix_03
lon_fix_B = lon_fix_B.fillna(lon_fix_04)
df.lon = lon_fix_B

In [13]:
df.head()

,track,n,date,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,1992-10-14 12:00:00,-1,276.739990,-65.001099,1.24564,44.464001,5.97993
1,1,2,1992-10-21 12:00:00,-1,275.989990,-65.137604,2.64604,36.702400,8.17373
2,1,3,1992-10-28 12:00:00,-1,275.820007,-65.245697,3.40119,45.422100,8.28628
3,1,4,1992-11-04 12:00:00,-1,275.844971,-65.293297,1.45836,43.021999,5.20364
4,2,1,1992-10-14 12:00:00,-1,200.642029,-62.542400,2.16156,63.069698,4.81408

In [14]:
track = np.asarray(df.track)
n = np.asarray(df.n)
date = df.date
lon = np.asarray(df.lon)
lat = np.asarray(df.lat)

## PyMongo

In [15]:
from pymongo import MongoClient
from tqdm import tqdm

In [16]:
client = MongoClient()

In [17]:
client.database_names()

[u'eddies', u'local']

In [18]:
db = client.eddies

In [19]:
db.collection_names()

[u'rcs_eddies', u'cchdo', u'ssh_eddies']

In [20]:
collection = db.cchdo

In [21]:
result = db.cchdo.remove()

-c:1: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.

In [22]:
M = max(df.track)
print(M)

215184

In [23]:
N = len(df.n)
print(N)

2590938

In [24]:
for i in tqdm(range(N)):
    eddy = {
        'eid': str(track[i]) + "-" + str(n[i]),
        'dat': date[i],
        'loc': [float(lon[i]), float(lat[i])]
    }
    result = db.cchdo.insert_one(dict(eddy))

100%|██████████| 2590938/2590938 [12:56<00:00, 3338.67it/s]